#img-user{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#img-instagram{
    width: 20px;
    height: 20px;
}
#img-facebook{
    width: 20px;
    height: 20px;
}
#img-gmail{
    width: 20px;
    height: 20px;
}
#grafico-leido{
    width: 300px;
    height: 300px;
}

#header-perfil{
    background-color:rgba(91, 74, 132, 0.5);
}
#header-perfil:hover{
    background-color:rgba(91, 74, 132, 1);
}
.perfil-usuario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.usuario-header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}
.usuario-portada{
    display: block;
    position: relative;
    width: 100%;
    height: 17rem;
    background: linear-gradient(45deg, rgb(85, 2, 85), rgb(40, 45, 198)); 
    border-radius: 0 0 20px 20px;
}
.usuario-avatar{
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border: 5px solid #FFFFFF;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
}
.perfil-usuario .usuario-body{
    width: 95%;
    align-items: center;
}
.perfil-usuario .grafico-libros-leidos,
.perfil-usuario .redes-sociales,
.perfil-usuario #nombre-y-descrip{
    display: block;
    background-color: white;
    padding: 1.5rem;
    border-color: #FFFFFF;
    box-shadow: 0 0 12px black;
    border-radius: 18px;
    text-align: center;
}
#grafico-leido{
    margin: 20px;
    background-color: white;
    padding: 1.5rem;
    border-color: #FFFFFF;
    box-shadow: 0 0 12px black;
    align-items: center;
    border-radius: 18px;    
}
#grafico{
    margin-left: 30px;
    display: block;
}
.redes-sociales{
    margin: 20px;
}
#leyenda-grafico{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
#nombre-y-descrip{
    font-size: 20px;
    margin: 20px;
}
#cambio-a-admin{
    display: flex;
    position: absolute;
    left: calc(10% - 90px);    
}
h4{
    background-color: #ffffff;
    text-align: center;
    clear: right;
    border-radius: 18px;
}
.perfil-usuario .nombre-y-descrip h2{
    width: 100%;
    display: block;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.perfil-usuario .nombre-y-descrip .descripcion{
    font-size: 1.5rem;

}
.perfil-usuario .nombre-y-descrip{
    margin-bottom: 1.25rem;
}
.perfil-usuario .redes-sociales{
    padding: 0;
    list-style: none;
}
.perfil-usuario .redes-sociales i{
    padding-right: 0.5rem;
}
.perfil-usuario .redes-sociales li{
    padding: 5px;
    font-size: 1.25rem; 
}
.perfil-usuario .redes-sociales li a:hover{
    color: blue;
    cursor: pointer;
}