*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../Imagenes/astronauta.jpg');
}
    
.Cuerpo-Registro{
    width: 400px;
    background: #22203b;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    color:black;
    box-shadow: 7px 13px 37px #000;
    border-radius: 5px;
}

.Cuerpo-Registro h4{
    font-size: 28px;
    font-family: 'arial';
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

.campos{
    width: 100%;
    background:#322f5a;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    border-color:white;
    border: 2px solid white;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.Cuerpo-Registro p{
    margin-top:15px;
    text-align: center;
    line-height: 15px;
}
.Cuerpo-Registro .boton{
    background:#1050A7;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
    color: white;
    font-size: 15px;
}
.Cuerpo-Registro .boton:hover{
    background: #1A5FBE;
    box-shadow: 20px;
    box-shadow: 7px 13px 37px #000;
    cursor: pointer;
}
.Cuerpo-Registro a{
    text-decoration: none;
    color: white;
}
.Cuerpo-Registro a:hover{
    color: grey;
    text-decoration: underline;
}